/*特效*/
.demo {	
	transition : 0.5s;
}
.demo{
	opacity :1;
}
.demo:hover {
	opacity : 1;
	transform : scale(1.05);
}

@keyframes  swing  {
	15% { transform:  translateX(5px); }
	40% { transform:  translateX(-5px); }
	65% { transform:  translateX(2px); }
	85% { transform:  translateX(-2px); }
	100% { transform:  translateX(0px); }
}
	
.demo2{
	transition : 0.5s;
}

.demo2:hover {
	animation : swing 1s 1;
}

.demo3:hover
{
	box-shadow: 10px 10px 5px rgba(0,0,0,0.8)
}


.pics{ position:relative;}
.pics img{ position:absolute;
  /* 淡出淡入效果1秒 */
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
 }
 .pics img:last-child:hover
 {
     /* 滑入時第一張透明度設0 */
      opacity:0;
  }

/*標頭*/
body{
	margin:0;
}

.a
{
 position: absolute;
 left:800px;
}

.b{
	position:absolute;
	top:320px;
	padding-left: 230px;
}
.c{
	background-color: #FCD3D1;
	position: absolute;
	top:300px;
	width:1920px;
	height: 250px;
}
.table01
{
	position: absolute;
	top:600px;
	left:250px;
}
.table02
{
	position: absolute;
	top:600px;
	left:1050px;
}
.table03
{
	position: absolute;
	top:1100px;
	left:250px;
}
.table04
{
	position: absolute;
	top:1100px;
	left:1050px;
}
.img
{	
	
	border:5px dashed white;
	border-radius: 5%;
}
/*頁尾*/
.footer-color
{
	background-color: #3C405B;
	position: absolute;
	top:1750px;
	width:1920px;
	height: 200px;

}
.footer-ig
{
	position: absolute;
	top:1800px;
	left:250px;
}
.footer-fb
{
	position: absolute;
	top:1800px;
	left:700px;
}
.footer-logo
{
	position: absolute;
	top:1760px;
	left:1250px;
}
.textig
{
	position: absolute;
	top:1840px;
	left: 400px;
	font-family: "微軟正黑體";
	font-size: 20px;
	font-weight: bold;
	color:white;
}
.textfb
{
	position:absolute;
	top:1840px;
	left:850px; 
	font-family: "微軟正黑體";
	font-size: 20px;
	font-weight: bold;
	color:white;
}
.textlogo
{
	position: absolute;
	top:1840px;
	left:1450px;
	font-family: "微軟正黑體";
	font-size: 20px;
	font-weight: bold;
	color:white;
}